# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Spyder project settings
.spyderproject
.spyproject

# Dataset folder
/Dataset/
/tensorboard/
/Results/
/Deep3DSM/
/Utils/reports/

# My docs
/VSTS.txt

#Schedule files
*.cmd
Train_Seg_*.py

# Results
/MediSemSeg3D_results/